<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>

<body>

    <header>

        <nav>
            <ul class="nav nav-tabs justify-content-center">
              
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OFFERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTER</a>
                </li>
                <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            </ul>
        </nav>
     
     
    </header>
    <main>

        <form th:action="@{/}" th:method="POST" th:object="${shipIdModel}" class="row mb-2 justify-content-center">
            <div class="justify-content-center col-md-5">
                <div class="card flex-md-row bg-blur mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Attacker</strong>
                        <h3 class="mb-0 ">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aliquam, voluptatem fuga porro iure atque magni molestiae, repellat fugit tempora, amet ea esse ad vero minus eligendi beatae quod rerum?
                        </h3>
                        <div class="justify-content-center">
                            <button type="submit" class="btn btn-info btn-lg ">FIRE !!!</button>
        
                        </div>
                     
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                         style="width: 200px; height: 250px;"
                         src="../../../../../project-moto-side/html%20and%20css/static/img/fire-1905608__480.jpg"
                         data-holder-rendered="true">
                         
                </div>
               
            </div>
            <div class="justify-content-center col-md-5">
                <div class="card flex-md-row bg-blur mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Attacker</strong>
                        <h3 class="mb-0 ">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aliquam, voluptatem fuga porro iure atque magni molestiae, repellat fugit tempora, amet ea esse ad vero minus eligendi beatae quod rerum?
                        </h3>
                        <div class="justify-content-center">
                            <button type="submit" class="btn btn-info btn-lg ">FIRE !!!</button>
        
                        </div>
                     
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                         style="width: 200px; height: 250px;"
                         src="../../../../../project-moto-side/html%20and%20css/static/img/fire-1905608__480.jpg"
                         data-holder-rendered="true">
                         
                </div>
               
            </div>
            <div class="justify-content-center col-md-5">
                <div class="card flex-md-row bg-blur mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Attacker</strong>
                        <h3 class="mb-0 ">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aliquam, voluptatem fuga porro iure atque magni molestiae, repellat fugit tempora, amet ea esse ad vero minus eligendi beatae quod rerum?
                        </h3>
                        <div class="justify-content-center">
                            <button type="submit" class="btn btn-info btn-lg ">FIRE !!!</button>
        
                        </div>
                     
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                         style="width: 200px; height: 250px;"
                         src="../../../../../project-moto-side/html%20and%20css/static/img/fire-1905608__480.jpg"
                         data-holder-rendered="true">
                         
                </div>
               
            </div>
         
               
            </div>
            
            
        </form>

        <button  type="submit" class="col-md-6 mx-auto btn btn-success btn-lg btn-block mt-5 mb-5">създай събитие</button>
    </main>

    
<footer class="footer bg-blur rounded" id="test">
    <!-- Grid container -->
  
    <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
</body>
</html>