<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>

<body>

    <header>

        <nav>
            <ul class="nav nav-tabs justify-content-center">
              
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OFFERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTER</a>
                </li>
                <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            </ul>
        </nav>
     
     
    </header>
    <main>

        <div class="text-light ">
            <h1 class="display-3">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Message</strong>
            </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
            <div class="col-md-12">
                <div class="chat_container">
                    <div class="job-box">
                        <div class="job-box-filter">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                <label>Show 
                                <select name="datatable_length" class="form-control input-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                </select>
                                entries</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="filter-search-box text-right">
                                        <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inbox-message">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="pending">Pending Work</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="business">Business</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="important">Important</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                <h5>Daniel Dock <span class="unread">Unread</span></h5>
                                                <span>7 hours ago</span>
                                            </div>
                                            <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

    </main>

    
<footer class="footer bg-blur rounded" id="test">
    <!-- Grid container -->
  
    <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
</body>
</html>