<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<header th:replace="fragments/navbar :: nav"></header>


<main>
    <div class="text-light ">
        <h1 class="display-3 ">
            <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Login</strong></h1>
    </div>
    <div class="container  p-5 mt-5 w-75">

        <form  th:action="@{/users/login}"
               method="post">

            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                Invalid username or password.
            </p>

            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="username" class="col-sm-2 col-form-label  ">Username</label>
                    <input th:value="${username}"
                           type="text" class="form-control"
                           id="username"
                           name="username"
                           aria-describedby="usernameHelpInline" placeholder="Username">
                    <small id="usernameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Username length must be between 5 and 20 characters.
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <input id="password"
                            name="password"
                           type="password" class="form-control"
                           aria-describedby="passwordHelpInline" placeholder="Password">
                    <small id="passwordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Password length must be more than 5 characters long.
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Login"/>
                    </div>
                </div>
            </div>
        </form>

    </div>

</main>



<footer th:replace="fragments/footer :: footer"></footer>



</body>

</html>