<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<header th:replace="fragments/navbar :: nav"></header>

<main>

    <div class="row justify-content-center">

        <form class="col-md-8"
              th:object="${userProfileUpdateBindingModel}"
              th:action="@{/users/profile/{id}/edit(id=*{id})}"
              th:method="patch"
              enctype="multipart/form-data">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img th:src="${picUrl}"
                             alt="profile-pic" class="rounded-circle" width="150">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlFile1"></label>
                                <input name="picture" type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </form>
                        <div class="mt-3">
                            <h4 th:text="*{getUsername()}">John Doe</h4>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <label for="fullName" class="col-4 font-weight-bold">Fullname</label>
                        <input
                                id="fullName"
                                th:field="*{fullName}"
                                th:errorclass="is-invalid"
                                class="form-control col-4">
                        <small class="col-4 invalid-feedback bg-danger text-light rounded">
                            Full name length must be between 5 and 20 characters.
                        </small>

                    </div>
                    <hr>

                    <div class="row">
                        <label for="email" class="col-4 font-weight-bold">email</label>
                        <input
                                id="email"
                                th:field="*{email}"
                                th:errorclass="is-invalid"
                                class="form-control col-4"

                        >
                        <small class="col-4 invalid-feedback bg-danger text-light rounded">
                            Email must be valid.
                        </small>

                    </div>

                    <hr>

                    <div class="form-group row">
                        <label for="city" class="col-4 col-form-label ">City</label>

                        <select th:field="*{city}" th:errorclass="is-invalid"
                                id="city" name="city" class="col-4 custom-select"
                                aria-describedby="cityHelpInline">
                            <option th:errorclass="is-invalid"
                                    th:each="c : ${T(com.example.motoworldplace.model.entity.enums.CityEnum).values()}"
                                    th:value="${c}" th:text="${c}">Coffee
                            </option>


                        </select>
                        <small id="cityHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            You must select the city.
                        </small>

                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col col-md-4 ">
                            <div class="button-holder d-flex justify-content-center">
                                <input type="submit" class="btn btn-info btn-lg" value="Edit"/>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>

</main>


<footer class="footer bg-blur rounded" id="test">
    <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>