<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>


<body>


<header th:replace="fragments/navbar :: nav"></header>

<main>
    <div class="container" th:object="${group}">

        <section class="section-max-width row justify-content-center ">

            <div class="clear justify-content-center">

                <h2 class="" th:text="*{name.toUpperCase()}">FREE_Radeir</h2>

                <img th:src="*{getPicture()}"
                     alt="profile-pic" width="300">
                <hr>
                <div class="justify-content-center" th:each="m : ${members}" >
                    <a th:href="@{/users/profile/{id}(id = ${m.getId()})}" th:text="${m.getFullName()}">Member 1</a>
                    <img th:src="${m.getPicture()}"
                         alt="profile-pic" class="rounded-circle" width="150">
                    <hr>
                </div>


                <ul class="nav ">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Evens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#">All Groups</a>
                    </li>

                </ul>
            </div>
            >
        </section>

    </div>


</main>


<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>