<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>


<body>


<header th:replace="fragments/navbar :: nav"></header>

<main>
        <div class="container">
           
    

               
            

            

            <section class="section-max-width row justify-content-center ">

                
                
                <div class="clear justify-content-center">


                        <h2 class="">FREE_Radeir</h2>
                  


                    <img src="../static/img/png-transparent-bicycle-motorcycle-motorcycle-logo-motorcycle-cartoon-motorcycle-vector.png"
                        alt="profile-pic" width="300">
                    <hr>
                    <div class="justify-content-center">
                        <a href="google.bg">Member 1</a>
                        <img src="../static/img/png-transparent-bicycle-motorcycle-motorcycle-logo-motorcycle-cartoon-motorcycle-vector.png"
                            alt="profile-pic" class="rounded-circle" width="150">
                            <hr>
                    </div>
                    
                   
                 

                    <ul class="nav ">

                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">OFFERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOGOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">REGISTER</a>
                        </li>
                      
                    </ul>
                </div>>
            </section>
           
        </div>

         

    </main>



<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>