<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>


<body>

<header th:replace="fragments/common :: nav"></header>

<main>
    <div class="text-light ">
        <h1 class="display-3 ">
            <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Groups</strong></h1>
    </div>
    <form th:action="@{/}" th:method="POST" th:object="${shipIdModel}" class="row justify-content-center">
        <div class="maingroup col-md-8 ">
            <div class="group card flex-md-row bg-blur mb-4 box-shadow h-md-250">

                <section class=" card-body d-flex flex-column align-items-start">
                    <strong class="h3 mb-4 justify-content-center text-primary">Free reader</strong>
                    <h3 class="h4 mb-2">членове <span>235</span></h3>
                    <h3 class="h4 mb-2">Град <span>СОФИЯ</span></h3>
                    <h3 class="h4 mb-2">Предстящи събития<span> мото събор на 23.04.2021</span></h3>
                    <h3 class="h4 mb-2">Админ на групата <span>User</span></h3>

                    <div class="col-12">
                        <button type="submit" class="col-3 btn btn-info btn-lg ">Виж събития !!!</button>
                        <button type="submit" class="col-3 btn btn-danger btn-lg ">Виж членовете !!!</button>
                        <button type="submit" class="col-3 mx-auto btn btn-danger btn-lg ">Стани член !!!</button>
                    </div>

                </section>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     style="width: 200px; height: 250px;"
                     src="/images/4300766.jpg"
                     data-holder-rendered="true">

            </div>
            <div class="group card flex-md-row bg-blur mb-4 box-shadow h-md-250">

                <section class=" card-body d-flex flex-column align-items-start">
                    <strong class="h3 mb-4 justify-content-center text-primary">Free reader</strong>
                    <h3 class="h4 mb-2">Free reders have 235</h3>
                    <h3 class="h4 mb-2">Free reders have 235</h3>
                    <h3 class="h4 mb-2">Free reders have 235</h3>

                    <div class="col-12">
                        <button type="submit" class="col-3 btn btn-info btn-lg ">FIRE !!!</button>
                        <button type="submit" class="col-3 btn btn-danger btn-lg ">FIRE !!!</button>
                        <button type="submit" class="col-3 mx-auto btn btn-danger btn-lg ">FIRE !!!</button>
                    </div>

                </section>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                     style="width: 200px; height: 250px;"
                     src="../../../../../project-moto-side/html%20and%20css/static/img/russia-izhevsk-august-23-2019-yamaha-motorcycle-shop-cropped-image-of-new-mtm850-in-motocycle-store-famous-world-brand-WBE0HG.jpg"
                     data-holder-rendered="true">

            </div>
            <button type="submit" class="col-md-6 mx-auto btn btn-success btn-lg btn-block mt-5 mb-5">създай група
            </button>
        </div>

        </div>


    </form>

</main>


<footer class="footer bg-blur rounded" id="test">
    <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

</body>

</html>