<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<header th:replace="fragments/navbar :: nav"></header>

<main>

    <h2 class="text-light border-bottom"
        th:text="'Message from ' + ${message.fromUser} + ' to ' + ${message.toUser}"></h2>
    <div class="row justify-content-center">
        <div class="col-md-3">


            <div th:object="${message}"
                 class="card mb-4 box-shadow">
                <img th:src="*{toUserPicture}" class="card-img-top"
                     alt="Thumbnail [100%x225]">
                <div class="card-body">


                    <div
                            class="card mb-4 box-shadow" th:text="*{getMessage()}">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi animi ea perspiciatis
                        dolores optio fugit laboriosam sed accusamus eos quas non, pariatur recusandae atque voluptates
                        libero vero fuga reiciendis?


                    </div>
                    <div class="card-body">

                        <div class="btn-group">
                            <form th:action="@{/users/messages/inbox/{id} (id=*{id})}" th:method="delete">
                                <input type="submit" class="btn btn-link" value="Delete"/>
                            </form>
                        </div>
                        <small class="text-muted" th:text="*{getTime()}">1000 copies</small>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>

</main>


<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>