<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<header th:replace="fragments/navbar :: nav"></header>

<main>

    <h2 class="text-light border-bottom"
        th:text="'Message from ' + ${message.fromUser} + ' to ' + ${message.toUser}"></h2>
    <div class="row justify-content-center">
        <div class="col-md-3">


            <div th:object="${message}"
                 class="card mb-4 box-shadow">
                <img th:src="*{getFromUserPicture()}" class="card-img-top"
                     alt="Thumbnail [100%x225]">
                <div class="card-body">


                    <div
                         class="card mb-4 box-shadow" th:text="*{getMessage()}">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi animi ea perspiciatis
                        dolores optio fugit laboriosam sed accusamus eos quas non, pariatur recusandae atque voluptates
                        libero vero fuga reiciendis?



                    </div>
                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   th:href="@{/users/messages/{id} (id=*{id})}"
                                >Delete</a>
                            </div>
                            <small class="text-muted" th:text="*{getTime()}">1000 copies</small>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</main>


<footer class="footer bg-blur rounded" id="test">
    <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>