<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>


<header th:replace="fragments/navbar :: nav"></header>

<main>

    <div class="container offers row mx-auto d-flex flex-row justify-content-center">

        <div th:each="p : ${products}"
             th:object="${p}"
             class="col-4">

            <ul class="offer-details list-group list-group-flush" >

                <th:block th:unless="*{pictures.isEmpty()}">
                    <li class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="*{pictures.toArray()[0]}" height="300" alt="Car image">
                    </li>
                </th:block>





                <li class="list-group-item"><h5 class="text-primary">brand:</h5><span th:text="*{brand}">brand</span>
                </li>
                <li class="list-group-item"><h5 class="text-primary">model:</h5><span th:text="*{model}">model</span>
                </li>

                <li class="list-group-item"><h5 class="text-primary">price:</h5><span th:text="*{price}">Price</span>


                <li class="list-group-item h3 "><a class="card-link"
                                               th:href="@{/products/{id}/details(id=*{id})}">Details</a>
                </li>

            </ul>

        </div>
    </div>


</main>


<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>